<footer id="footer">
  <div class="outer">
    <div id="footer-info">
      <script async="" src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
      <div class="footer-left">
        &copy;
        <%= date(new Date(), 'YYYY') %>
        <%= config.author || config.title %>
      </div>
      <div class="footer-left">
        &nbsp;©
        <span id="busuanzi_container_site_pv" style="display: inline;">
          本站访问量<span id="busuanzi_value_site_pv"></span>次
        </span>
        <span id="busuanzi_container_site_uv" style="display: inline;">
          访客数<span id="busuanzi_value_site_uv"></span>人
        </span>
        <span class="post-count">
          本站总共
          <%= totalcount(site) %>字
        </span>
      </div>
      <div class="yiyan" q-class="show:isComplete">『 <span class="yan"></span> 』</div>
      <div class="footer-right">
        <a href="http://hexo.io/" rel="noopener" target="_blank">Hexo</a> Theme <a href="https://github.com/whyour/hexo-theme-yilia"
          rel="noopener" target="_blank">Yilia</a> by whyour
      </div>
    </div>
  </div>
</footer>
