#article-nav {
  margin: 0 0 20px 0;
  min-height: 30px;
}
#article-nav .article-nav-link-wrap {
  font-size: 14px;
  .icon-circle-right, .icon-circle-left {
    padding-top: 2px;
  }
}
#article-nav .article-nav-link-wrap .article-nav-title {
  display: inline-block;
  font-size: 16px;
  transition: color 0.3s;
}
#article-nav .article-nav-link-wrap:hover i {
  color: #4d4d4d;
}
#article-nav .article-nav-link-wrap:hover .article-nav-title {
  color: #4d4d4d;
}
#article-nav #article-nav-older {
  float: right;
}
#article-nav #article-nav-newer {
  float: left;
}
