@import "./global";
@import "./fonts";
@import "./grid";
@import "./left";
@import "./scroll";
@import "./highlight";
@import "./tags";
@import "./tags-cloud";
@import "./social";
@import "./page";
@import "./archive";
@import "./tools";
@import "./article-main";
@import "./article-inner";
@import "./article-nav";
@import "./comment";
@import "./share";
@import "./reward";
@import "./aside";
@import "./tooltip";
@import "./footer";
@import "./works";
@media screen and (max-width: 800px) {
  @import "./mobile";
  @import "./mobile-slider";
}
@media screen and (max-width: 1024px) and (min-width: 800px) {
  #footer {
    position: relative;
    bottom: 0;
    .footer-left{
        float: initial;
        margin-bottom: 10px;
    }
    .footer-right{
        float: initial;
    }
    .yiyan{
        display: inline-block;
        width: 60%;
        text-align: center;
        height: 20px;
        margin: 0 auto;
    }
  } 
}